apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
      - name: devops-app
        image: ayyandar/devops-app:latest   
        ports:
          - containerPort: 5000
